<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FailRibbon.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{724,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,203}}</string>
                <key>sourceSize</key>
                <string>{724,203}</string>
            </dict>
            <key>SuccessRibbon.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{750,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,200}}</string>
                <key>sourceSize</key>
                <string>{750,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ribbon.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2633f30e585ee7a0ceb06fb1a582880$</string>
            <key>textureFileName</key>
            <string>ribbon.png</string>
        </dict>
    </dict>
</plist>
